@import "tailwindcss";

@theme {
  --color-outline: #8f6f6e;
  --color-surface-dim: #dcd9d9;
  --color-inverse-surface: #313030;
  --color-surface-container-high: #eae7e7;
  --color-on-tertiary: #ffffff;
  --color-surface-container: #f0eded;
  --color-secondary-fixed-dim: #c8c6c5;
  --color-on-primary-container: #fffbff;
  --color-surface-bright: #fcf9f8;
  --color-inverse-primary: #ffb3b1;
  --color-surface: #fcf9f8;
  --color-tertiary-fixed: #f0dee0;
  --color-on-secondary-fixed: #1b1b1b;
  --color-on-error-container: #93000a;
  --color-tertiary: #65595b;
  --color-surface-container-highest: #e5e2e1;
  --color-tertiary-fixed-dim: #d3c3c5;
  --color-inverse-on-surface: #f3f0ef;
  --color-on-surface: #1b1b1b;
  --color-on-tertiary-fixed-variant: #4f4446;
  --color-secondary-fixed: #e5e2e1;
  --color-on-secondary-container: #636262;
  --color-primary: #b7122a;
  --color-error: #ba1a1a;
  --color-primary-container: #db313f;
  --color-on-primary: #ffffff;
  --color-tertiary-container: #7f7173;
  --color-background: #fcf9f8;
  --color-surface-variant: #e5e2e1;
  --color-on-surface-variant: #5b403f;
  --color-on-primary-fixed: #410007;
  --color-secondary: #5f5e5e;
  --color-on-primary-fixed-variant: #92001c;
  --color-on-tertiary-fixed: #22191b;
  --color-error-container: #ffdad6;
  --color-on-background: #1b1b1b;
  --color-on-error: #ffffff;
  --color-secondary-container: #e2dfde;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary: #ffffff;
  --color-primary-fixed: #ffdad8;
  --color-surface-tint: #bb162c;
  --color-primary-fixed-dim: #ffb3b1;
  --color-surface-container-low: #f6f3f2;
  --color-on-tertiary-container: #fffbff;
  --color-on-secondary-fixed-variant: #474746;
  --color-outline-variant: #e4bebc;

  --font-headline: "Lexend", sans-serif;
  --font-body: "Lexend", sans-serif;
  --font-label: "Lexend", sans-serif;
  --font-lexend: "Lexend", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@layer base {
  body { 
    font-family: var(--font-lexend);
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
}

@layer utilities {
    .glass-effect {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
    .hero-gradient {
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url('https://lh3.googleusercontent.com/aida-public/AB6AXuA6QtA4EE05XvCQSJo3vUy3JmlextZMRID77kFFM67y_dZvi3tljFU1uiv36NMOohVswrm1Hfsk6cT7ZRq7tlBOZqnTh96V4Okj0URNu-LPknIT04qC3E_Rru5Fu0c7Z-AGSJLyuIBjOgq3MOoPGImBU5zJW3SHIkUSMq5omJq34laTQCPuNQiYCaHfUp3MaJ7P6qSQiSsGjQwWBP2TomshpjJJaYYImDdIRPCt0F7_GlndQRRjugVoyNu81I0SLTnlHXphnHOfHA');
        background-size: cover;
        background-position: center;
    }
    .ambient-shadow {
        box-shadow: 0px 20px 40px rgba(27, 27, 27, 0.06);
    }
}
